<div class="navigation" style="display: flex; flex-direction: row;padding-right: 2vw;padding-left: 3vw;">
    <H3 style="font-size: 17px;font-weight: bold;text-shadow: none;">RIDE-SHARING</H3>
    <div class="anchors" style="display: flex;flex-direction: row;">
        <a style="margin: 0 15px;text-decoration:none;color:#fff;text-transform:capitalize;font-size: 15px;text-shadow: none;" id="homeButton" href="/home">Home</a>
        <a style="margin: 0 15px;text-decoration:none;color:#fff;text-transform:capitalize;font-size: 15px;text-shadow: none;" id="profileButton" href="/profile">Profile</a>
        <a style="margin: 0 15px;text-decoration:none;color:#fff;text-transform:capitalize;font-size: 15px;text-shadow: none;" id="logout" role="button" onclick="Logout()">Logout</a>
    </div>
</div>
